<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find zznbot_description)/urdf/fishbot/commen_inertial.xacro"/>
    <xacro:macro name="laser_xacro" params="xyz">
    <!-- 雷达支撑杆 -->
        <link name="laser_cylinder_link">
            <!-- 部件的外观 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                <!-- 圆柱体 -->
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>
                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
            <collision>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                <!-- 圆柱体 -->
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>
                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </collision>
            <xacro:cylinder_inertia m="0.05" r="0.01" h="0.10" />
        </link>
    <!-- 雷达 -->
        <link name="laser_link">
            <!-- 部件的外观 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                <!-- 圆柱体 -->
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>
                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
            <collision>
                <!-- 沿着自己几何中心的偏移和旋转量 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                <!-- 圆柱体 -->
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>
                <!-- 材质和颜色 -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </collision>
            <xacro:cylinder_inertia m="0.10" r="0.02" h="0.02" />
        </link>

        <joint name="laser_joint" type="fixed">
            <parent link="laser_cylinder_link"/>
            <child link="laser_link"/>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </joint>

        <joint name="laser_cylinder_joint" type="fixed">
            <parent link="base_link"/>
            <child link="laser_cylinder_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:macro>
    
</robot>